<!-- NAVIGATION -->
<% if (!user) { %>
  <div class="row">
    <div class="col">
      <ul class="navbar justify-content-end navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
<% } else { %>
  <div class="row">
    <div class="col">
      <ul class="nav justify-content-end navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link" href="/profile"><i class="fas fa-user" title="<%= user.email %>"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout"><i class="fas fa-sign-in"></i></a>
        </li>
      </ul>
    </div>
  </div>
<% } %>

<%if (signinMessage) {%>
  <p><%= signinMessage %></p>
<% } %>
<%if (signupMessage) {%>
  <p><%= signupMessage %></p>
<% } %>
<div class="row">
  <div class="col"><%- body %></div>
</div>

